In [79]:
import pandas as pd

from simulate import init, simulate_n_times

In [80]:
em, l1 = init()
print(simulate_n_times(n_sim=100, em=em, l1=l1, la=0.2, n=8))

(0.5993630245442937, 3.7231125133883154, 0.14572706912678687)

In [87]:
import itertools

t_k1_values = [1, 3, 5, 10]
mu_k2_values = [1/8, 1/4, 1/2, 1]
t_k3_values = [1, 2, 4, 8]
n_k2_values = [2, 5, 8]
n_customers_values = [1000]
lambda_customers_values = [0.1, 0.2, 0.4]

cartesian_product = list(
    itertools.product(t_k1_values, mu_k2_values, t_k3_values, n_k2_values, lambda_customers_values, n_customers_values))

df = pd.DataFrame(cartesian_product, columns=['t_k1', 'mu_k2', 't_k3', 'n_k2', 'lambda_customers', 'n_customers_values'])
df

     t_k1  mu_k2  t_k3  n_k2  lambda_customers  n_customers_values
0       1  0.125     1     2               0.1                1000
1       1  0.125     1     2               0.2                1000
2       1  0.125     1     2               0.4                1000
3       1  0.125     1     5               0.1                1000
4       1  0.125     1     5               0.2                1000
..    ...    ...   ...   ...               ...                 ...
571    10  1.000     8     5               0.2                1000
572    10  1.000     8     5               0.4                1000
573    10  1.000     8     8               0.1                1000
574    10  1.000     8     8               0.2                1000
575    10  1.000     8     8               0.4                1000

[576 rows x 6 columns]

In [88]:
results = []
for index, row in df.iterrows():
    t_k1 = row['t_k1']
    mu_k2 = row['mu_k2']
    t_k3 = row['t_k3']
    n_k2 = row['n_k2']
    lambda_customers = row['lambda_customers']

    em, l1 = init(t_k1=t_k1, mu_k2=mu_k2, t_k3=t_k3, capacity_q2=n_k2)
    result = simulate_n_times(n_sim=100, em=em, l1=l1, la=lambda_customers, n=8)

    results.append(result)

results_df = pd.DataFrame(results, columns=['rejection_rate', 'avg_wait_time', 'avg_q_len'])
df = pd.concat([df, results_df], axis=1)
df

,t_k1,mu_k2,t_k3,n_k2,lambda_customers,n_customers_values,rejection_rate,avg_wait_time,avg_q_len
0,1,0.125,1,2,0.1,1000,0.396425,13.179557,0.819287
1,1,0.125,1,2,0.2,1000,0.476877,11.145966,0.802652
2,1,0.125,1,2,0.4,1000,0.580441,11.007515,0.801343
3,1,0.125,1,5,0.1,1000,0.257719,18.757750,1.410980
4,1,0.125,1,5,0.2,1000,0.384329,16.530434,1.412028
...,...,...,...,...,...,...,...,...,...
571,10,1.000,8,5,0.2,1000,0.783220,0.000000,0.000000
572,10,1.000,8,5,0.4,1000,0.870091,0.000000,0.000000
573,10,1.000,8,8,0.1,1000,0.693408,0.000000,0.000000
574,10,1.000,8,8,0.2,1000,0.782100,0.000000,0.000000
575,10,1.000,8,8,0.4,1000,0.856531,0.000000,0.000000